.Login .password-input{
    margin-bottom: 5px;
}
.sidebar-logo{
    height: 35px;
    width: auto;
    margin-right: 10px;
}
.forgot-password-link{
    float: right;
    margin-bottom: 12px;
}

.back-to-login-link{
    text-align: center;
    margin-top: 12px;
}
.circle-loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999999;
    top: 0;
    display: flex;
}
.circle-loader .MuiCircularProgress-root{
    align-self: center;
    margin-left: 50%;
}