.Login .password-input{
    margin-bottom: 5px;
}
.sidebar-logo{
    height: 35px;
    width: auto;
    margin-right: 10px;
}
.forgot-password-link{
    float: right;
    margin-bottom: 12px;
}

.back-to-login-link{
    text-align: center;
    margin-top: 12px;
}
.circle-loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999999;
    top: 0;
    display: flex;
}
.circle-loader .MuiCircularProgress-root{
    align-self: center;
    margin-left: 50%;
}

.text-right{
    text-align: right !important;
}
.float-right{
    float: right !important;
}
.drop-image-container{
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 20px;
    cursor: pointer;
}

.blog-upload-image-preview{
    max-height: 150px;
    width: auto;
    margin: 15px 0;
}

.blog-status{
    text-transform: capitalize;
}
.button-align-ctm{
    margin-left: 4px;
}
.text-capitalize{
    text-transform: capitalize;   
}
.dash-sub-count span{
    font-weight: 300;
    float: right;
}
.dash-sub-count{
    font-weight: 200;
}
.dash-count-icon{
    filter: invert(1);
    max-height: 50px;
    width: auto;
}